<nav>
    <ul>
        <li><a routerLink="/">Home</a></li>
        @if(!session){
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/register">Registro</a></li>
        }
        @if (session && (role === "user" || role === "influencer" || role === "admin")) {
            <li><a routerLink="/restaurants">Restaurantes</a></li>
            <li><a routerLink="/influencers">Influencers</a></li>
            <li><a routerLink="/settings-admin">Settings</a></li>
            <button (click)="this.onLogout()">Logout</button>
        }
    </ul>
</nav>