header {
    background-color: cadetblue;
    padding: 5px 0px;
}


footer {
    position: fixed;
    bottom: 0;
    padding: 5px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    color:white;
}